[hidden] {
  display: none;
}

.oc-container {
  box-sizing: content-box;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.oc-cursor-pointer {
  cursor: pointer;
}

.oc-display-block {
  display: block !important;
}

.oc-display-inline-block {
  display: inline-block !important;
}

.oc-overflow-hidden {
  overflow: hidden;
}

.oc-box-shadow-medium {
  box-shadow: 0 3px 8px 1px rgb(0 0 0 / 14%);
}

.oc-overflow-auto {
  overflow: auto;
}

.oc-button-reset {
  -webkit-appearance: none;
  background: transparent;
  min-height: 0;
}

.oc-align-self-center {
  align-self: center;
}

.oc-border {
  border: $global-border-width solid var(--oc-role-outline-variant) !important;

  @each $directionKey, $directionValues in $directions {
    &-#{$directionKey} {
      @each $direction in $directionValues {
        border-#{$direction}: $global-border-width solid var(--oc-role-outline-variant) !important;
      }
    }
  }
}

.oc-disabled {
  opacity: 0.4;
}

// Classes for border radius
.oc {
  &-rounded {
    border-radius: 5px;
  }

  &-rounded-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &-rounded-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-rounded-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  &-rounded-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  &-pill {
    border-radius: 100px;
  }
}

// outline for visible focus (via tab)
*:focus-visible:not(input[type=text]):not(input[type=textarea]):not(input[type=search]):not(input[type=password]):not(input[type=email]):not(input[type=date]):not([type=number]):not(textarea):not(.oc-search-input):not(.cm-content) {
  outline: 2px var(--oc-role-on-secondary) solid;
  outline-offset: 0;
  box-shadow: 0 0 0 4px var(--oc-role-secondary);
}

// inner outline for visible focus on resource names
// outer outlines don't work because of the hidden overflow (due to text truncation)
.oc-resource-details a:focus-visible,
.oc-resource-details button:focus-visible {
  box-shadow: inset 0px 0px 0px 2px var(--oc-role-secondary) !important;
}


.oc-bottom-drawer li,
.oc-drop li {
  a,
  .item-has-switch,
  button:not([role='switch']) {
    border-radius: 8px;
    gap: var(--oc-space-small);
    justify-content: flex-start;
    width: 100%;
  }
}

.sidebar-actions-panel {
  > li a,
  > li a:hover {
    display: inline-flex;
    gap: 10px;
  }
}