// the original `uikit card` has way more rules,
// esp. regarding different view sizes
// trying to get away with as little as possible
// and shifting towards using our margin/padding helper classes

.oc-card-header {
  display: flow-root;
}

.oc-card-title {
  font-size: var(--oc-font-size-large);
  font-weight: var(--oc-font-weight-semibold);
}

.oc-card-body {
  display: flow-root;
}

.oc-card-footer {
  display: flow-root;
}

