:root {
  --vp-font-family-base: 'OpenCloud', 'Inter', sans-serif;
  --vp-c-brand-1: var(--oc-role-secondary);
}

.vp-doc tr:nth-child(2n) {
  // disable the color change on table rows
  background-color: var(--vp-c-bg);
}

// re-apply some basic styling we removed during the build to avoid conflicts with tailwind
.title span {
  font-size: 14px;
}

li::marker {
  color:  var(--oc-role-on-surface);
}

#VPSidebarNav .VPLink p {
  padding: 0;
  margin: 4px 0;
}

.vp-doc :where(p, li, div):not(.live-code-block :where(p, li, div)) {
  font-size: 16px;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: auto;
}

@font-face {
  font-family: OpenCloud;
  src: url('./../../../src/assets/fonts/OpenCloud500-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenCloud;
  src: url('./../../../src/assets/fonts/OpenCloud750-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
